* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #484848;
    height: 100%;
}

header { 
    background-color:lightskyblue; 
    text-align: center;
    padding: 20px;
    font-size: 23px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.name {
    margin-top: .5%;
    display: inline-block; 
    margin-left: 1%;
}

#link{
    color: black;
}
#link:hover{
    cursor: pointer; 
    color:blue; 
}

#link:active{
    color:blue; 
}

.settings{
    text-align: center;
    padding: 1%;
    background-color: aliceblue; 
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sizeSlider, #sortSlider, #generate, #speedSlider, #sort{
    display: inline-block;
    padding-left: 1%;
} 

#speedSlider{
    padding-left: 10%;
}

#generate, #sort{
    font-size: 24px;
    
}

.slider:hover {
    cursor: pointer;
}

.button:hover{
    cursor: pointer; 
    color:blue; 
}

.algorithms{
    background-color: lightpink;  
    text-align: center;
}

.algorithm{
    margin: 1%;
    display: inline-block;
    font-size: 23px;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.algorithm:hover{
    cursor: pointer; 
    color: blue;
}

.algorithm:focus{
    color: blue;
}

#arrays{
    padding-left: 21%;
    height: 33vw;
    margin-top: 2%;
}

.rectangle {
    display: inline-block; 
    margin: 1px;  
    width: .7%;
    background-color: black; 
    
}

