* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #484848;
     
}

header { 
    background-color:lightskyblue; 
    text-align: center;
    padding: 1.3vmax;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.3vmax;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.name {
    margin-top: .2vmax;
    display: inline-block; 
    margin-left: .5vmax;
}

#link{
    color: black;
}
#link:hover{
    cursor: pointer; 
    color:blue; 
}

#link:active{
    color:blue; 
}

.settings{
    position: relative;
    text-align: center;
    padding: .7vmax 0vmax 1vmax 0vmax;
    background-color: aliceblue; 
    font-size: 1.2vmax;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sizeSlider, #sortSlider, #generate, #speedSlider, #sort{
    display: inline-block;
    padding-left: .8vmax;
} 

#speedSlider{
    padding-left: 8vmax;
}

#generate, #sort{
    font-size: 1.3vmax;
    font-weight: 600;
}

.slider{
    width: 7vmax;

}

.slider:hover {
    cursor: pointer;
}

.button:hover{
    cursor: pointer; 
    color:blue; 
}

.algorithms{
    background-color:#ffcbd3;
    text-align: center;
}

.algorithm{
    margin: .9vmax;
    display: inline-block;
    font-size: 1.2vmax;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.algorithm:hover{
    cursor: pointer; 
    color: blue;
}

.algorithm:focus{
    color: blue;
}

#arrays{    
    width: 100%;
    position: absolute;
    top: 18.2vmax;
    bottom: 3%;
    text-align: center;

}

.rectangle {

    display: inline-block; 
    margin-right: 1px;  
    width: .7%;
    background-color: black; 

 
    
}

